:root {
  --font-main: Arial, sans-serif;
  --color-main-bg: #f4f4f4;
  --color-sidebar-bg: #ffffff;
  --color-border: #d3d3d3;
  --color-button-bg: #e7e7e7;
  --color-button-hover-bg: #d3d3d3;
  --color-text: #333;
  --sidebar-width: 200px;
}

body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: var(--color-main-bg);
}
/* Hidden form for new template creation */
// .hidden class is not used anywhere, so we remove this class

.flex-column {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: var(--sidebar-width);
  background: var(--color-sidebar-bg);
  padding: 10px;
  border-right: 1px solid var(--color-border);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
    /* Style for the hover effect */
    .dropdown-content a:hover {
      background-color: #ddd; 
      color: black; /* Change text color on hover if needed */
  }

.top-right, .settings {
  position: relative;
  color: var(--color-text);
}

.top-right {
  right: 10px;
  top: 10px;
}

.settings {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

button {
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-button-hover-bg);
}

.btn {
  display: block;
  width: 70%;
}
.sidebar .dropdown .dropbtn {
  width: 100%; /* Set button width relative to the parent */
  box-sizing: border-box; /* Ensures padding is included in the total width/height */
}

.top-right {
  text-align: right; /* Aligns the content to the right */
  padding: 10px; /* Add some space around the title */
}
.main-content {
  flex-grow: 1;
  padding: 10px;
}
